@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
:root {
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
}

@layer base {
  /* 가운데 정렬 */
  html,
  body {
    @apply flex flex-col items-center justify-center min-h-screen font-sans text-gray-800 bg-gray-100 dark:text-neutral-200;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 18px;
  }

  body {
    overflow: hidden;
    color: #3b3535;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  li,
  ui,
  a {
    @apply font-sans;
  }

  h1 {
    @apply text-3xl font-bold text-neutral-700 hover:text-neutral-500 lg:text-4xl;
  }

  h2 {
    @apply text-2xl font-semibold text-neutral-700 hover:text-neutral-500 lg:text-3xl;
  }

  h3 {
    @apply text-xl font-medium text-neutral-600 hover:text-neutral-400 lg:text-2xl;
  }

  h4 {
    @apply text-lg font-medium text-neutral-600 hover:text-neutral-400 lg:text-xl;
  }

  h5 {
    @apply font-medium text-neutral-600 hover:text-neutral-400;
  }

  p,
  li {
    @apply text-base text-neutral-400;
  }

  a {
    @apply text-neutral-400;
  }

  @keyframes loading-pulse-animation {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .loading-text-pulse {
    animation: loading-pulse-animation 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@layer components {
  h2.title {
    @apply my-5 text-xl;
  }

  h3.title {
    @apply my-5 text-lg;
  }

  .enable-transition {
    @apply transition-all duration-300;
  }

  .link-with-icon {
    @apply inline-flex items-center gap-1;
  }

  .flex-item-list {
    @apply flex items-center gap-2;
  }

  .btn-with-icon {
    @apply inline-flex items-center gap-1;
  }

  .btn-with-icon svg {
    @apply w-4 h-4;
  }

  .btn {
    @apply border border-gray-300 rounded-lg cursor-pointer enable-transition;
  }

  .cols-2 {
    @apply grid gap-2 sm:grid-cols-1 md:grid-cols-2;
  }

  .cols-3 {
    @apply grid gap-2 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
  }

  .ellipsis-text {
    @apply overflow-hidden whitespace-nowrap overflow-ellipsis;
  }
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }

  .text-highlight {
    @apply text-yellow-500;
  }
}

/* Scrollbar styles - hide */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Scrollbar styles - custom */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Custom CSS */
.parent:hover .hover-visible {
  opacity: 1;
}

.parent:hover .bg-white {
  background-opacity: 100%;
}

.login-page {
  display: block;
  height: auto;
  overflow: auto;
  justify-content: normal;
  font-family: sans-serif;
  color: black;
}

.overlay-gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  opacity: 0.1;
  pointer-events: none;
}

.droppable-container {
  background: #fafafa;
  padding: 20px;
  border: 1px solid #ccc;
}

.draggable-item {
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


/* styles.css */
.dialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
}

.dialogContent {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 450px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.dialogTitle {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.dialogDescription {
  margin-top: 10px;
  font-size: 1rem;
}

.dialogCloseButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #757575;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 애니메이션 효과 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}




